.home-page-body {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding-bottom: 50px;
}

.home-page-title {
  color: white;
  display: block;
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
}

.item-card {
  background-color: #333;
  width: 250px;
  height: 330px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item-card-image-container {
  width: 200px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.item-card-image {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.item-card-paragraph {
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  color: white;
}

.item-card-last-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.item-card-clock {
  font-weight: 700;
  color: white;
}

.item-card-button {
  font-weight: 700;
  padding: 5px;
  background-color: black;
  color: white;
}

.item-card-button:active {
  background-color: white;
  color: black;
}

.home-page-error-image {
  max-width: 80%;
  max-height: 80vh;
  margin: 30px auto;
}

.page-loading {
  background-color: #3338;
  height: calc(100vh - 60px);
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card-expired-container {
  background-color: #0009;
  width: 250px;
  height: 330px;
  position: absolute;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card-expired-img {
  width: 90%;
}
